@import "./footer/info-footer",
        "./footer/help-footer",
        "./footer/payment-footer",
        "./footer/social-footer";

@import "../breakpoints/variables",
        "../breakpoints/response-fn";

.footer{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 -2px 4px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $c6;
    font-size: 1.2rem;
    &__list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        border-top: 1px solid $c5;
        @include respond-to(tablet-small){
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }

    &__approve{
        width: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__underground{
        padding: 10px 0;
        &__text{
            font-size: 16px;
            color: $c8;
            @include respond-to(phone-large){
                text-align: center;
            }
        }
    }
}