@import "./colors",
        "./header/header-basket",
        "./header/header-catalog",
        "./header/header-call",
        "./header/header-search",
        "./header/header-login",
        "./header/header-nav-burger",
        // modals
        "./header/modal/modal-mobile-menu",
        "./header/modal/modal-login-registration",
        "./header/modal/modal-call",
        "./header/modal/modal-basket",
        "../breakpoints/variables",
        "../breakpoints/response-fn";


.header{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1001;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header-main{
   
    &__content{
        padding: 8px;
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }
 
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $c8; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
  /* The navigation menu links */
  .sidenav{
    & > a,
    & > li{
        text-decoration: none;
        font-size: 15px;
        color: $c2;
        display: inline-block;
        transition: 0.3s;
        padding: 4px 0;
    }

  } 
  
  /* When you mouse over the navigation links, change their color */
  .sidenav > li:hover > a,
  .sidenav > li:hover > img{
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .full-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: margin-left .5s;
    position: relative;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.header-sidemenu{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    &-item{
        word-wrap: break-word;
        cursor: pointer;
        transition: color .3s ease;
        &:hover,
        &:hover > svg{
            color: $c6;
        }
        
    }
    &-item > svg{
        width: 15px;
        height: 15px;
    }
    &-submenu{
        position: relative;
        & ul{
            position: relative;
            display: none;
            left: 5%;
            &.show{
                display: block;
                & li > a{
                    color: $c9;
                    transition: color .3s ease;
                    
                }
                & li > a:hover{
                    color: $c6;
                }
            }
            
        }
    }
}


.swiper{
    margin: 0;
}

.login__registration{
    height: 350px;
}






.lock-small,
.user-small{    
    margin-right: 7px;
    display: inline;
    @include respond-to(tablet-large){
        margin-right: 0
    }
}

.left-small,
.user-small{
    width: 20px;
    height: 20px;
}

.arrow-icon{
    width: 35px;
    height: 35px;
}


.catalog-icon{
    width: 25px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}