@import "../breakpoints/variables",
        "../breakpoints/response-fn";


.main{
    &__wrap{
        padding: 50px 15px 0px 15px;
        flex-grow: 1;
    }
}

.product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: flex-start;
    @include respond-to(tablet-small){
        grid-template-columns: 1fr;
    }
}

.product-image {
    width: 100%;
    object-fit: cover;
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $c5;
        border-bottom: 1px solid $c5;
        padding: 10px;
        border-radius: 0 0 16px 0;
        box-shadow: inset -3px -3px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    }
    &__wrap{
        width: 250px;
        margin: 50px 0;
        position: relative;
        display: grid;
        place-items: center;
    }
}

.product-thumbnails{
    width: 15%;
    margin: 20px 20px 20px 0;
    border: 2px solid transparent;
    cursor: pointer;
    
    &:last-child{
        margin-right: 0;
    }
    &-wrap{
        display: flex;
        justify-content: space-evenly;
    }
    &.active   {
        border: 2px solid #007bff; /* Синий бордер для активной миниатюры */
        box-sizing: border-box; /* Учитывать бордер в размере элемента */
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.show {
    opacity: 1;
}

.main-image {
    width: 100%;
    height: auto;
}

.products-detaile__item__img{
    transition: transform .3s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}

.thumbnail {
    width: 100%;
    object-fit: cover;
    height: auto;
    &__wrap{
        width: 120px;
        border: 1px solid $c5;
        padding: 20px;
        border-radius: 8px;
    }    
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    &__info{
        margin: 4% 0 0 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 30%;
    }
    &__price{
        margin: 40px 0;
        font-size: 1.4rem;
    }
    &__articul{
        font-size: 1.2rem;
        font-weight: 400;
        color: $c8;
    }
    &__manufacturer{
        font-size: 1.4rem;
    }
    &__buttons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    &__status{
        position: absolute;
        width: 30%;
        padding: 10px 20px;
        text-align: center;
        box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1), /* тень слева */
                         0px 5px 10px rgba(0, 0, 0, 0.1); /* тень снизу */
        top: 0;
        right: 0;
        @media (max-width: 940px) {
            width: 40%;
        }

    }
    &__btn{
        &__add-to-cart,
        &__continue-shopping{
            background-color: $c17;
            padding: 5px 10px;
            color: $c6;
            border: none;
            cursor: pointer;
            align-self: flex-end;
            align-self: flex-start;
            &:hover{
                
            }
        }
    }
    &__atributes{
        & > .cell{
            border: 1px solid $c9;
        }
    }
}

.atributes-row{
    border: 1px solid $c17;
    padding: 5px 10px;
    &__value{
        text-align: center;
    }
}

.product-title {
    width: 75%;
    font-size: 1.8rem;

}

.product-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}





.product-specs {
    margin: 80px 0;
}

.product-specs h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-specs table {
    width: 100%;
}

.product-specs table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.product-specs table td:first-child {
    font-weight: bold;
}



