

.header-nav__burger{
    flex-grow: 0.3;
    display: none;
    place-items: center;
    @include respond-to(tablet-large){
        display: grid;
        order: 6;
    }
    &-icon{
        width: 40px;
        height: 40px;
    }
}