@import "../../breakpoints/variables",
        "../../breakpoints/response-fn";

.header-catalog{
    flex-grow: 0.3;
    place-items: center;
    display: none;
    @include respond-to(laptop-small){
        display: grid;
    }
    @include respond-to(tablet-large){
        order: 7;
    }
        &__btn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            outline: none;
            border-radius: 8px;
            padding: 8px;
        &__icon{
            width: 30px;
            height: 30px;
            color: $c6;
        }
    }
}