@import "../../breakpoints/variables",
        "../../breakpoints/response-fn";

.header-search{
    flex-basis: auto;
    flex-grow: 0.7;
    &__input{
        width: 100%;
        height: 35px;
        border-radius: 8px;
        outline: none;
        border: 1px solid $c5;
        padding-left: 10px;
        &__wrap{
            position: relative;
        }
        &:focus{
            border: 1px solid $c9;
        }
        &__icon{
            position: absolute;
            width: 20px;
            height: 20px;
            top: 20%;
            right: 5%;
        }
    }
}
