    
.header-basket{
    &__icon{
        width: 30px;
        color: $c6;
        &__wrap{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            background-color: $c17; 
            cursor: pointer;
            & .header-basket__icon{
                transition: transform .3s ease;
                
            }
            &:hover .header-basket__icon{
                transform: scale(1.1);
            }
        }
        &__badge{
            top: 10%;
            left: 100%;
            position: absolute;
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center;
            transform: translate(-50%, -50%);
        }
    }  

    &__wrap{
        margin-left: 10px;
        width: 5%;
    }
}

@keyframes bounce {
    0%, 100% {
        top: 10%;
    }
    50% {
        top: -5%;
    }
}

.animated {
    animation: bounce 0.5s ease;
}

.header-basket__icon__badge.animated {
    animation: bounce 0.3s ease-in-out;
}