@import "../../breakpoints/variables",
        "../../breakpoints/response-fn";

.header-login{
    // width: 25%;
    flex-basis: auto;
    margin-bottom: 5px;
    flex-grow: 0.3;
    text-align: center;
    &__content{
        padding: 8px 0;   
        display: flex;
        justify-content: flex-end; 
        

    }
    &__link{

    }
    &__text{
        text-align: center;
    }
    &__come{
        &-in,
        &-out{
            display: inline;
            @include respond-to(tablet-large){
                display: none;
            }
        }
    }
}