
@font-face {
    font-family: "Raleway" !important;
    src: url("./fonts/Raleway/static/Raleway-Regular.ttf");
    src: url("./fonts/Raleway/static/Raleway-Regular.ttf") format("truetype"),
         url("./fonts/Raleway/static/Raleway-SemiBold.ttf") format("truetype"),
         url("./fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open sans" !important;
    src: url("./fonts/Open_Sans/static/OpenSans-Regular.ttf");
    src: url("./fonts/OpenSans/static/OpenSans-Regular.ttf") format("truetype"),
         url("./fonts/OpenSans/static/OpenSans-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@mixin create-font($font-family, $font-weight: 400, $font-size: 1rem){
    font-family: $font-family, sans-serif !important;
    font-size: $font-size;
    line-height: $font-size * 2 !important;
    font-style: normal;
    font-weight: $font-weight;
}

.font{
    &__raleway{
        @include create-font("Raleway", 400, 14px)
    }
    &__open-sans{
        @include create-font("Open sans", 400, 12px)
    }
}


.h1{

}

.p{
    font-size: 10px;
}

