@font-face {
  font-family: "Raleway" !important;
  src: url("./fonts/Raleway/static/Raleway-Regular.ttf");
  src: url("./fonts/Raleway/static/Raleway-Regular.ttf") format("truetype"), url("./fonts/Raleway/static/Raleway-SemiBold.ttf") format("truetype"), url("./fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open sans" !important;
  src: url("./fonts/Open_Sans/static/OpenSans-Regular.ttf");
  src: url("./fonts/OpenSans/static/OpenSans-Regular.ttf") format("truetype"), url("./fonts/OpenSans/static/OpenSans-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.font__raleway {
  font-family: "Raleway", sans-serif !important;
  font-size: 14px;
  line-height: 28px !important;
  font-style: normal;
  font-weight: 400;
}
.font__open-sans {
  font-family: "Open sans", sans-serif !important;
  font-size: 12px;
  line-height: 24px !important;
  font-style: normal;
  font-weight: 400;
}

.p {
  font-size: 10px;
}

.c1 {
  color: #222;
}

.bg1 {
  background-color: #222;
}

.c2 {
  color: #f2f2f2;
}

.bg2 {
  background-color: #f2f2f2;
}

.c3 {
  color: #2d2d2d;
}

.bg3 {
  background-color: #2d2d2d;
}

.c4 {
  color: #e8e8e8;
}

.bg4 {
  background-color: #e8e8e8;
}

.c5 {
  color: #ddd;
}

.bg5 {
  background-color: #ddd;
}

.c6 {
  color: #fff;
}

.bg6 {
  background-color: #fff;
}

.c7 {
  color: rgb(242, 242, 242);
}

.bg7 {
  background-color: rgb(242, 242, 242);
}

.c8 {
  color: #777;
}

.bg8 {
  background-color: #777;
}

.c9 {
  color: #000;
}

.bg9 {
  background-color: #000;
}

.c10 {
  color: #333;
}

.bg10 {
  background-color: #333;
}

.c11 {
  color: #E63125;
}

.bg11 {
  background-color: #E63125;
}

.c12 {
  color: #53d542;
}

.bg12 {
  background-color: #53d542;
}

.c13 {
  color: #f0f0f0;
}

.bg13 {
  background-color: #f0f0f0;
}

.c14 {
  color: #3b3b3b;
}

.bg14 {
  background-color: #3b3b3b;
}

.c15 {
  color: #7d7d7d;
}

.bg15 {
  background-color: #7d7d7d;
}

.c16 {
  color: #9d9d9d;
}

.bg16 {
  background-color: #9d9d9d;
}

.c17 {
  color: #3e77aa;
}

.bg17 {
  background-color: #3e77aa;
}

.c18 {
  color: #797878;
}

.bg18 {
  background-color: #797878;
}

.c19 {
  color: #f84147;
}

.bg19 {
  background-color: #f84147;
}

.c20 {
  color: #edc63d;
}

.bg20 {
  background-color: #edc63d;
}

.c21 {
  color: #ffec00;
}

.bg21 {
  background-color: #ffec00;
}

.c22 {
  color: #000200;
}

.bg22 {
  background-color: #000200;
}

.c23 {
  color: #78cd5d;
}

.bg23 {
  background-color: #78cd5d;
}

.c24 {
  color: rgb(115, 96, 242);
}

.bg24 {
  background-color: rgb(115, 96, 242);
}

.color-inh {
  color: inherit;
}

* {
  transition: all 0.3s ease;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

dl, ol, ul {
  margin-bottom: 0 !important;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 !important;
}

.container__custom {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.container__custom__sidebar {
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container__small {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.container__extra__small {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  height: 80px;
}
@media (max-width: 576px) {
  .logo {
    width: 40px;
    height: 65px;
  }
}
.logo__wrap {
  flex-grow: 0.1;
  flex-basis: auto;
}
.logo__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__text {
  font-size: 24px;
  color: #f84147;
  text-transform: uppercase;
}
.logo__text .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.logo__text .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}
.logo__text .letter {
  display: inline-block;
  line-height: 1em;
}

.modal {
  top: 20%;
}

body.modal-open {
  padding-right: 0 !important;
}

.ratio-1-1 {
  width: 100% !important;
}

.ratio-1-2 {
  width: 50% !important;
}

.ratio-1-3 {
  width: 33.33% !important;
}

.ratio-1-4 {
  width: 25% !important;
}

.divider {
  margin-top: 96px;
  background-image: url("/static/assets/artmagic-background-header.jpg");
  width: 100%;
  height: 50px;
}
@media (max-width: 768px) {
  .divider {
    margin-top: 157px;
  }
}
@media (max-width: 576px) {
  .divider {
    margin-top: 144px;
  }
}
@media (max-width: 452px) {
  .divider {
    margin-top: 200px;
  }
}

.alert {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 15000;
  font-weight: 500;
  display: none;
  text-align: center;
}
@media (max-width: 576px) {
  .alert {
    top: 10%;
  }
}

.alert_anim {
  display: flex;
  align-items: center;
  animation: alert_anim 3s ease;
}

@keyframes alert_anim {
  0% {
    display: flex;
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -55%);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -55%);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translate(-50%, -55%);
  }
}
.error-message {
  visibility: visible;
  transition: height 0.3s ease;
  height: 20px;
  margin: 3px 0;
  color: #E63125;
}
.error-message-hidden {
  visibility: hidden;
  transition: height 0.3s ease;
  height: 0;
}

.invalid-input {
  border-color: #E63125 !important;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  touch-action: none;
}

.swiper-pagination-rewrite {
  position: relative;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .swiper-pagination-rewrite {
    height: 80px;
  }
}

.btn-prev-10,
.btn-next-10,
.btn-next-catalog-10,
.btn-prev-catalog-10 {
  position: absolute;
  bottom: 0;
  height: 40px;
  z-index: 100;
}

.btn-prev-10 {
  left: 27.5%;
}
@media (max-width: 1400px) {
  .btn-prev-10 {
    left: 17.5%;
  }
}
@media (max-width: 992px) {
  .btn-prev-10 {
    left: 4.5%;
  }
}

.btn-next-10 {
  right: 27.5%;
}
@media (max-width: 1400px) {
  .btn-next-10 {
    right: 17.5%;
  }
}
@media (max-width: 992px) {
  .btn-next-10 {
    right: 4.5%;
  }
}

.btn-pag {
  width: 30px !important;
  height: 30px !important;
  display: grid;
  place-items: center;
}

.btn-prev-category-10 {
  position: absolute;
  right: 75%;
  bottom: 0;
  z-index: 1000;
}
.btn-prev-catalog-10 {
  left: 19%;
}
@media (max-width: 1600px) {
  .btn-prev-catalog-10 {
    left: 10%;
  }
}
@media (max-width: 1260px) {
  .btn-prev-catalog-10 {
    left: 2%;
  }
}
@media (max-width: 992px) {
  .btn-prev-catalog-10 {
    left: 10%;
    bottom: 1%;
  }
}
@media (max-width: 576px) {
  .btn-prev-catalog-10 {
    left: 6%;
    bottom: 0.5%;
  }
}

.btn-next-category-10 {
  position: absolute;
  left: 75%;
  bottom: 0;
  z-index: 1000;
}
.btn-next-catalog-10 {
  right: 44%;
}
@media (max-width: 1600px) {
  .btn-next-catalog-10 {
    right: 35%;
  }
}
@media (max-width: 1260px) {
  .btn-next-catalog-10 {
    right: 30%;
  }
}
@media (max-width: 992px) {
  .btn-next-catalog-10 {
    right: 12%;
    bottom: 1%;
  }
}
@media (max-width: 576px) {
  .btn-next-catalog-10 {
    right: 6%;
    bottom: 0.5%;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  animation: spin 1s linear infinite;
  z-index: 9999; /* Ensure it's on top of other content */
  display: none; /* Hidden by default */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.active {
  background-color: #007aff !important;
  color: #fff !important;
}

.btn-pagination {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 2px;
  text-align: center;
  padding: 0;
}

.pagination {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  right: 12.5%;
}
@media (max-width: 768px) {
  .pagination {
    width: 50%;
    height: 80px;
  }
}
.pagination-index {
  right: 0;
}
.pagination-category {
  right: 0;
}
@media (max-width: 992px) {
  .pagination-catalog {
    width: 50%;
    height: 80px;
    position: initial;
  }
}