.return-agoods {
  margin: 0 0 40px 0;
  font-size: 1.2rem;
}
.return-agoods__title {
  text-align: center;
  margin: 20px 0;
}
.return-agoods__subtitle {
  margin: 15px 0;
}
.return-agoods__list {
  padding-left: 20px;
  list-style: inside;
}

.privat-24__payment {
  margin: 20px 0;
  font-size: 1.2rem;
}
.privat-24__payment__title {
  margin: 15px 0;
}
.privat-24__payment__list {
  padding-left: 30px;
  list-style: decimal;
}
.privat-24__payment__list li {
  padding-left: 10px;
}