// Продукти для index.html
.products-index{
    margin: 40px 0;
    &__title{
        margin: 20px 0;
    }
    &__list{
        height: 300px;
        padding: 50px 0;
        margin: 0 0 0 20px; 
    }
    &__item{
        width: calc(100% / 5);
        height: 300px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: transform .3s ease-in, box-shadow .3s ease-in;
        cursor: pointer;
        &:hover{
            border: none;
            background-color: $c6;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            transform: scale(1.15);
        }
        &__img{
            width: 100%;
            object-fit: cover;
            &__wrap{
                width: 150px;
                height: 150px;
            }
        }
        &__title{
            display: inline-block;
            width: 120px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            text-align: center;
            font-weight: 600;
        }
        &__price{
            align-self: flex-start;
            margin-bottom: 20px;
            color: $c19;
            font-weight: 600;
        }
    }
}