{% extends 'products/base.html' %}
{% load static %}
{% load mptt_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/change-password.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {% endblock %}

    <title>Profile</title>
</head>

{% block content %}
<main style="min-height: 62vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center change-password__title">Зміна пароля</h2>
                <form method="post" class="change-password__form">
                    {% csrf_token %}
    
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Будь ласка, виправте помилки нижче.</strong>
                        </div>
                    {% endif %}
    
                    {{ form.non_field_errors }}
    
                    <div>
                        <label for="{{ form.old_password.id_for_label }}"></label>
                        {{ form.old_password }}
                        {% if form.old_password.errors %}
                            <div class="invalid-feedback">
                                {{ form.old_password.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
    
                    <div>
                        <label for="{{ form.new_password1.id_for_label }}"></label>
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <div class="invalid-feedback">
                                {{ form.new_password1.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
    
                    <div>
                        <label for="{{ form.new_password2.id_for_label }}"></label>
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <div class="invalid-feedback">
                                {{ form.new_password2.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
    
                    <div class="d-flex justify-content-between" style="width: 60%;">
                        <a href="{% url 'user:profile' %}" class="btn btn-secondary">Повернутись</a>
                        <button type="submit" class="btn btn-primary">Змінити пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    const oldPassword = document.getElementById("id_old_password").placeholder = "Старий пароль";
    const newPassword = document.getElementById("id_new_password1").placeholder = "Новий пароль";
    const newPasswordConfirmation = document.getElementById("id_new_password2").placeholder = "Повторіть новий пароль";
</script>
{% endblock %}
</html>