{% extends 'products/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <style>
            .password-reset__complete{
                flex: 1;
                display: grid;
                place-items: center;
            }
        </style>
    {% endblock %}


    <title>Profile</title>
</head>
{% block content %}
<div class="password-reset__complete">
    <div class="">
        <p class="text-center">Пароль успішно змінено</p>
        <p class="text-center">Ваш пароль було змінено. Тепер ви можете <a class="btn btn-primary" href="/">увійти</a>.</p>
    </div>
</div>
{% endblock %} 