{% extends 'products/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
        .password-reset__done{
            flex: 1;
            display: grid;
            place-items: center;
        }
    </style>
    {% endblock %}

   
    <title>Profile</title>
</head>

{% block content %}
<div class="password-reset__done">
    <div class="container__extra__small">
        <p class="text-center">Перевірте вашу електронну пошту</p>
        <p class="text-center">Ми відправили вам інструкції щодо встановлення нового паролю.</p>
    </div>
</div>
{% endblock %} 