{% extends 'products/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {% endblock %}


    <title>Profile</title>
</head>


{% block content %}
<div class="password-reset__title">
    <h2>Відновлення паролю</h2>
</div>
<form method="post" class="password-reset__form">
    {% csrf_token %}
    <div class="error-messages"></div>
    <div>
        <input type="email" name="email" placeholder="Введіть ваш email" required>
    </div>
    <div>
        <button type="submit">Відправити</button>
    </div>
</form>
{% endblock %} 