{% extends 'products/base.html' %}
{% load static %}
{% load mptt_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}
    
    
    <title>Profile</title>
</head>
<body>
    <div class="full-content">
        {% block content %}
        <main class="profile-page">
            <div class="profile-page__container container__extra__small">
                <div class="profile-page__content">
                    <div class="d-flex justify-content-end align-center">
                        <a class="btn btn-primary me-1" href="{% url 'user:change_password' %}">Змінити пароль</a>
                        <a class="btn btn-primary" href="{% url 'user:logout' %}">Вийти</a>
                    </div>
                    <form class="profile-page__user-info" id="profileForm">
                       <h1 class="profile-page__user-info__title">Інформація вашого профілю</h1>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваше ім'я: </span>
                            <input class="profile-page__user-info__input" 
                            data-field="firstName"
                            type="text" 
                            disabled
                            value="{{ user.first_name }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-edit="firstName">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-clear="firstName">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="firstName" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваше прізвище: </span>
                            <input class="profile-page__user-info__input" 
                            data-field="lastName"
                            type="text" 
                            disabled
                            value="{{ user.last_name }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-edit="lastName">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-clear="lastName">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="lastName" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваш email: </span>
                            <input class="profile-page__user-info__input" 
                            data-field="profileEmail"
                            type="text" 
                            disabled
                            value="{{ user.email }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-edit="profileEmail">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-clear="profileEmail">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="profileEmail" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваш телефон: </span> 
                            <input class="profile-page__user-info__input" 
                            data-field="profilePhone"
                            type="tel" 
                            disabled
                            value="{{ user.phone_number }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-edit="profilePhone">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-clear="profilePhone">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="profilePhone" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваша адреса: </span> 
                            <input class="profile-page__user-info__input" 
                            data-field="profileAddress"
                            type="tel" 
                            disabled
                            value="{{ address.address_line1 }}"
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-edit="profileAddress">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-clear="profileAddress">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="profileAddress" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваш поштовий індекс: </span> 
                            <input class="profile-page__user-info__input" 
                            data-field="postalCode"
                            type="tel" 
                            disabled
                            value="{{ address.postal_code }}"
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-edit="postalCode">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" data-clear="postalCode">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="postalCode" class="error-message-hidden"></p>
                        <button class="btn btn-primary my-3" data-submit="btn_Profile">Зберегти</button>
                    </form>
                </div>
            </div>
            <div class="container__extra__small">
                <div class="profile-page__orders" >            
                    {% if user_orders %}
                        <h2 class="text-center my-4">Ваші замовлення</h2>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered align-middle" >
                                <thead class="table-primary" >
                                    <tr class="text-center align-middle">
                                        <th >Номер замовлення</th>
                                        <th >Дата замовлення</th>
                                        <th >Кінцева ціна</th>
                                        <th >Товари</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in user_orders %}
                                        <tr>
                                            <td><strong>#{{ order.order_number }}</strong></td>
                                            <td>{{ order.created_at|date:"d.m.Y H:i" }}</td>
                                            <td>
                                                {% for product in order.products %}
                                                    <div class="mb-2">
                                                        <i class="bi bi-box-seam"></i> {{ product.name }} - {{ product.quantity }} шт.
                                                    </div>
                                                {% endfor %}
                                            </td>
                                            <td><span class="badge bg-primary">{{ order.total_price }} грн</span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning text-center">
                            <i class="bi bi-exclamation-triangle-fill"></i> У вас нет заказов.
                        </div>
                    {% endif %}    
            </div>
            
        </main>
        {% endblock %}
    </div>
    {% block js %}
        <script type="module" src="{% static 'js/profile.js' %}"></script>
    {% endblock %}
</body>
</html>
 