// Блок правого банера на category.html (вертикальная карусель с брендами)
.category-brands{
    width: 60%;
    height: 400px;
    &__item{
       margin-top: 40px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
    }
    &__img{
        width: 225px;
        height: 225px;
        object-fit: cover;
    }
}
