// Блок підкатегорії для category.html
.category-others{
    margin: 80px 0;
    
    &__title{
        text-align: center;
        margin-bottom: 30px;
    }
    &__list{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform .3s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__img{
        width: 100%;
        object-fit: cover;
        &__wrap{
            width: 100px;
            height: 100px;
        }
    }
}