
.profile-page{
    flex-grow: 1;
    min-height: calc(100vh - 96px - 192px);
    &__container{
        padding-top: 130px;
    }
    &__content{

    }
    &__title{
        text-align: center;
        font-size: 32px;
    }
    &__user-info{
        margin: 0 auto;
        width: 80%;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &__title{
            text-align: center;
            font-size: 28px;
        }
        &__label{
            width: 20%;
        }
        &__input{
            width: 60%;
            outline: none;
            border: 1px solid $c5;
            border-radius: 8px;
            padding-left: 8px;
            &:disabled{
                background-color: $c6;
                border: 1px solid $c6;
                color: $c9;
            }
            &-wrap{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &__btn{
            padding: 4px 8px;
            &-icon{
                width: 20px;
                height: 25px;
                color: $c5;
            }
        }
    }
    
}