{% extends 'products/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="about-us">
        <div class="container__extra__small">
            <h1 class="about-us__title">{{ about_us.title }}</h1>
            <p class="text-center">Раді бачити вас у нашому магазині <span class="c11 fw-bold">АРТМАГІЯ</span>.</p>

            <div class="about-us-info">
                <p class="about-us-info__text">{{ about_us.description|safe }}</p>
            </div>

            <div class="social-links">
                <p class="text-center">Підпишіться на нас в 
                    <a href="https://www.instagram.com/artmagic07/" target="_blank">Instagram</a> та 
                    <a href="https://www.facebook.com/artmagic.com.ua/" target="_blank">Facebook</a>.
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}