{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment-delivery.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container__extra__small">
        <div class="payment-delivery">
            <h1 class="payment-delivery__title">Умови доставки та оплати</h1>
            <div class="delivery">
                <h4 class="delivery__title">Доставка</h4>
                <p>У м. Дніпро можна забрати замовлення самостійно за адресою: вул. Якова Самарського, 5, кв. 7 (дзвонити в домофон).</p>
                <p>По Україні замовлення надсилаємо Новою Поштою. Оплата доставки за тарифами Нової Пошти.</p>
                <p>Ми відправляємо замовлення після повної його оплати:</p>
                <ul class="delivery__list">
                    <li>У той же день - при оплаті в робочий день до 15:00.</li>
                    <li>Наступного робочого дня - при оплаті після 15:00.</li>
                </ul>
                <p>Упаковка <span class="c19 fw-bold">підрамників, модулів, багетних рамок та іншого негабаритного товару упаковується Новою Поштою за тарифами транспортної компанії.</span></p>
            </div>
        
            <div class="payment">
                <h4 class="payment__title">Оплата замовлень</h4>
                <ul>
                    <li>У магазині при самостійній покупці готівкою або карткою Банку.</li>
                    <li>Банківський переказ. Зазвичай через Privat24 або термінали та відділення банків.</li>
                    <li>Реквізити платежу Ви отримуєте після оформлення замовлення в нашому інтернет-магазині.</li>
                    <li>Наш менеджер обов'язково зв'яжеться з Вами.</li>
                    <li>Оплата товару з позначкою "Під замовлення" лише після узгодження з менеджером.</li>
                    <li>Оплата за замовлений товар здійснюється лише в гривнях.</li>
                </ul>
                <p class="c19 fw-bold my-4">Увага! Рахунок на оплату, який виставляється після оформлення Вами замовлення, дійсний протягом трьох робочих днів з моменту його виставлення. У разі непоступлення авансового платежу від покупця протягом зазначеного періоду, замовлення вважається анульованим за ініціативою Покупця. Це умова може бути змінена в окремих випадках за домовленістю сторін.</p>
            </div>
        </div>
        
    </div>
</main>
{% endblock %}