{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment-delivery.css' %}">
{% endblock %}

{% block content %}
<main>
    
    <div class="container__extra__small">
        <div class="payment-delivery">
            <h1 class="payment-delivery__title">{{ payment_delivery.title }}</h1>
            <div class="delivery">
                <p>awdadawdadawdwada</p>
            <p>{{ payment_delivery.description|safe }}</p>
        </div>
        
    </div>
</main>
{% endblock %}