{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/return_agoods.css'%}">
{% endblock %}

{% block content %}
<main>
    <div class="container__extra__small">
        <div class="return-agoods">
            <h1 class="return-agoods__title">Обмін і повернення товару</h1>
            <h4 class="return-agoods__subtitle">Обмін і повернення</h4>
            <p>Компанія «Артмагія» намагається з розумінням ставитися до кожної форс-мажорної ситуації, яка трапилася з нашим клієнтом. 
            Згідно з «Законом про захист прав споживачів», <span class="c17 fw-bold">обміняти або повернути товар ви можете протягом 14 днів після покупки</span>. Товар підлягає обміну або поверненню, якщо:</p>
            <ul class="return-agoods__list">
                <li>товар не був у використанні і не має слідів використання (подряпин, сколів, потертостей і т.п.);</li>
                <li>товар повністю укомплектований і не порушена цілісність упаковки;</li>
                <li>збережені всі ярлики та заводська маркування.</li>
            </ul>
            <p>Повернення грошей здійснюється протягом 7 днів з моменту отримання нами товару. Обмін і повернення товарів належної якості здійснюється за рахунок покупця протягом 14 днів з дня продажу за умови збереження товарного вигляду купленого обладнання, упаковки і наявності.</p>
            <div class="privat-24__payment">
                <h4>Як оплатити через "Приват24"</h4>
                <p>Якщо ви клієнт "ПриватБанку", то здійснити оплату через "Приват24" не складе ніяких труднощів. Для цього вам потрібно:</p>
                <ol class="privat-24__payment__list">
                    <li>Зареєструватися на сайті <a href="https://www.privat24.ua" target="_blank">www.privat24.ua</a>;</li>
                    <li>Увійти в систему;</li>
                    <li>Вибрати вкладку «Всі послуги» - «Платежі» - «По Україні»;</li>
                    <li>Ввести в необхідне поле рахунок отримувача та призначення платежу;</li>
                    <li>У ячейці призначення платежу бажано вказати номер рахунку або номер замовлення.</li>
                </ol>
            </div>
            
        </div>
    </div>
</main>
{% endblock %}