{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/return_agoods.css'%}">
{% endblock %}

{% block content %}
<main>
    <div class="container__extra__small">
        <div class="return-agoods">
            <h1 class="return-agoods__title">{{ return_a_goods.title }}</h1>

            <p>{{ return_a_goods.description|safe }}</p>

        </div>
    </div>
</main>
{% endblock %}