{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/safeguards.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="safeguards">
        <div class="container__extra__small">
            <h1 class="safeguards__title">{{ safeguards.title }}</h1>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">{{ safeguards.description|safe }}</li>
            </ul>
            
        </div>
    </div>
</main>

{% endblock %}