{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/safeguards.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="safeguards">
        <div class="container__extra__small">
            <h1 class="safeguards__title">Договір публічної оферти</h1>
            <h4 class="safeguards__subtitle">1. Загальні положення</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">1.1. Справжня оферта є офіційною пропозицією інтернет-магазину (далі за текстом Продавець) укласти Договір купівлі-продажу товарів дистанційним способом, тобто через інтернет-магазин (далі по тексту Договір).</li>
                <li class="safeguards__list__item">1.2. Моментом повного безумовного прийняття Покупцем пропозиції Продавця (акцептом) укласти електронний договір купівлі-продажу товарів вважається факт оплати Покупцем замовлення на умовах цього Договору у строки та за цінами, вказаними на інтернет-сайті Продавця.</li>
            </ul>
            <h4 class="safeguards__subtitle">2. Поняття і визначення</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">2.1. Товар: моделі, аксесуари, комплектуючі та супровідні предмети.</li>
                <li class="safeguards__list__item">2.2. Інтернет-магазин: в відповідності до Закону України про електронну комерцію засіб для подання або реалізації товару, роботи або послуги шляхом здійснення електронної угоди.</li>
                <li class="safeguards__list__item">2.3. Продавець: компанія, яка реалізує товари, представлені на інтернет-сайті.</li>
                <li class="safeguards__list__item">2.4. Покупець: фізична особа, що уклала з Продавцем Договір на умовах, викладених нижче.</li>
                <li class="safeguards__list__item">2.5. Замовлення: вибір окремих позицій з переліку товарів, зазначених Покупцем при розміщенні замовлення та проведенні оплати.</li>
            </ul>
            <h4 class="safeguards__subtitle">3. Предмет договору</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">3.1. Продавець зобов’язується передати у власність Покупця Товар, а Покупець зобов’язується оплатити та прийняти Товар на умовах даного Договору.</li>
                <li class="safeguards__list__item">3.2. Цей Договір регулює купівлю-продаж товарів в інтернет-магазині, в тому числі добровільний вибір Покупцем товарів в інтернет-магазині, самостійне оформлення Покупцем замовлення в інтернет-магазині, оплату Покупцем замовлення, оформленого в інтернет-магазині, обробку, доставку замовлення Покупцеві у власність на умовах цього Договору.</li>
            </ul>
            <h4 class="safeguards__subtitle">4. Порядок оформлення замовлення</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">4.1. Покупець має право оформити замовлення на будь-який товар, представлений на Сайті інтернет-магазину, який є в наявності.</li>
                <li class="safeguards__list__item">4.2. Кожна позиція може бути представлена в замовленні в будь-якій кількості.</li>
                <li class="safeguards__list__item">4.3. При відсутності товару на складі Менеджер компанії зобов’язаний повідомити Покупця по телефону або через електронну пошту.</li>
                <li class="safeguards__list__item">4.4. При відсутності товару Покупець має право замінити його товаром аналогічної моделі, відмовитися від даного товару, анулювати замовлення.</li>
            </ul>
            <h4 class="safeguards__subtitle">5. Порядок оплати замовлення</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">5.1. Оплата здійснюється за фактом отримання товару на складі інтернет-магазину в м. Дніпро (готівковий чи безготівковий розрахунок в гривнях) або при передплаті за товар, замовлений на сайті інтернет-магазину, якщо товар необхідно доставити покупцю за рахунок покупця.</li>
                <li class="safeguards__list__item">5.2. При ненадходженні коштів інтернет-магазин залишає за собою право анулювати замовлення.</li>
            </ul>
            <h4 class="safeguards__subtitle">6. Умови доставки замовлення</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">6.1. Доставка товарів, придбаних в інтернет-магазині, здійснюється до складів транспортних компаній, де здійснюється видача замовлень.</li>
                <li class="safeguards__list__item">6.2. Разом з замовленням Покупцеві надаються документи згідно законодавства України.</li>
            </ul>
            <h4 class="safeguards__subtitle">7. Права та обов’язки сторін</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">7.1. Продавець має право в односторонньому порядку припинити надання послуг за цим договором у разі порушення Покупцем умов цього договору.</li>
                <li class="safeguards__list__item">7.2. Покупець зобов’язаний своєчасно оплатити та отримати замовлення на умовах цього договору.</li>
                <li class="safeguards__list__item">7.3. Покупець має право оформити замовлення в інтернет-магазині, оформити електронний договір, вимагати від Продавця виконання умов цього Договору.</li>
            </ul>
            <h4 class="safeguards__subtitle">8. Відповідальність сторін</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">8.1. Сторони несуть відповідальність за невиконання або неналежне виконання умов цього договору в порядку, передбаченому цим договором та чинним законодавством України.</li>
                <li class="safeguards__list__item">8.2. Продавець не несе відповідальності за зміни виробником зовнішнього вигляду Товару, за незначну невідповідність кольорової гами товару, що може відрізнятися від оригіналу товару виключно через різний кольоровий передач моніторів персональних комп’ютерів окремих моделей.</li>
                <li class="safeguards__list__item">8.3. Продавець не несе відповідальності за зміст, правдивість інформації, наданої Покупцем при оформленні замовлення.</li>
                <li class="safeguards__list__item">8.4. Продавець не несе відповідальності за затримки, перебої в наданні послуг, обробці замовлення та доставці товару, які відбуваються з причин, що знаходяться поза сферою його контролю.</li>
                <li class="safeguards__list__item">8.5. Продавець не несе відповідальності за протиправні, незаконні дії, здійснені Покупцем за допомогою даного доступу до мережі Інтернет, за передачу Покупцем своїх мережевих ідентифікаторів, адрес, логінів, паролів третім особам.</li>
                <li class="safeguards__list__item">8.6. Покупець, використовуючи наданий йому доступ до мережі Інтернет, самостійно несе відповідальність за шкоду, заподіяну його діями особисто, навіть якщо під його логіном знаходилася інша особа, особи або їх майно, юридичним особам, державі чи моральним принципам (моральність).</li>
            </ul>
            <h4 class="safeguards__subtitle">9. Обставини непереборної сили</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">9.1. У разі настання обставин непереборної сили сторони звільняються від виконання умов цього договору.</li>
                <li class="safeguards__list__item">9.2. Під обставинами непереборної сили для цілей цього договору розуміються події, що мають надзвичайний, непередбачений характер, які виключають або об’єктивно заважають виконанню цього договору, настання яких Сторони не могли передбачити та запобігти розумними способами.</li>
                <li class="safeguards__list__item">9.3. Сторони прикладають максимум зусиль для вирішення будь-яких розбіжностей виключно шляхом переговорів.</li>
            </ul>
            <h4 class="safeguards__subtitle">10. Інші умови</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">10.1. Інтернет-магазин залишає за собою право в односторонньому порядку вносити зміни до цього договору за умови попередньої публікації його на сайті інтернет-магазину, створеному для організації дистанційного способу продажу товарів через інтернет.</li>
                <li class="safeguards__list__item">10.2. Покупець несе відповідальність за достовірність інформації, зазначеної при оформленні замовлення.</li>
                <li class="safeguards__list__item">10.3. При здійсненні акцепту (оформленні замовлення) та подальшої оплати товару Покупець надає Продавцю свою беззастережну згоду на збір, обробку, зберігання, використання своїх персональних даних в розумінні ЗУ “Про захист персональних даних”.</li>
                <li class="safeguards__list__item">10.4. Оплата Покупцем оформленого в інтернет-магазині замовлення означає повну згоду Покупця з умовами договору купівлі-продажу публічної оферти.</li>
                <li class="safeguards__list__item">10.5. Фактичною датою електронної угоди між сторонами є дата прийняття умов відповідно до ст. 642 Закону України “Про електронну комерцію”.</li>
                <li class="safeguards__list__item">10.6. Використання ресурсу інтернет-магазину для попереднього перегляду товару, а також для оформлення замовлення для Покупця є безкоштовним.</li>
                <li class="safeguards__list__item">10.7. Інформація, яку надає Покупець, є конфіденційною. Інтернет-магазин використовує інформацію про Покупця виключно в цілях обробки замовлення, відправлення повідомлень Покупцеві, доставки товару, здійснення взаєморозрахунків.</li>
            </ul>
            <h4 class="safeguards__subtitle">11. Порядок повернення товару належної якості</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">11.1. Повернення товару в інтернет-магазин проводиться згідно чинного законодавства України.</li>
                <li class="safeguards__list__item">11.2. Повернення товару в інтернет-магазин проводиться за рахунок Покупця.</li>
                <li class="safeguards__list__item">11.3. При поверненні Покупцем товару належної якості інтернет-магазин повертає йому сплачену за товар грошову суму за фактом повернення товару за вирахуванням компенсації витрат інтернет-магазину, пов’язаних з доставкою товару Покупцеві.</li>
            </ul>
            <h4 class="safeguards__subtitle">12. Термін дії договору</h4>
            <ul class="safeguards__list">
                <li class="safeguards__list__item">12.1. Електронний договір вважається укладеним з моменту одержання особою, яка направила пропозицію укласти такий договір, відповідь про прийняття цієї пропозиції в порядку, визначеному частиною шостою статті Закону України “Про електронну комерцію”.</li>
                <li class="safeguards__list__item">12.2. До закінчення терміну дії цей Договір може бути розірваний за взаємною згодою сторін до моменту фактичної доставки товару шляхом повернення грошових коштів.</li>
                <li class="safeguards__list__item">12.3. Сторони мають право розірвати цей договір в односторонньому порядку у разі невиконання однією зі сторін умов цього Договору та у випадках, передбачених чинним законодавством України.</li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}