.about-us{
    margin: 0 0 40px 0;
    min-height: 52vh;
    font-size: 1.2rem;
    &__title{
        text-align: center;
        margin: 20px 0;
    }
    &__subtitle{
        margin: 15px 0;
    }
    &__list{
        padding-left: 20px;
        list-style: inside;
    }
}

.about-us-info{
    margin: 40px 0;
    &__text{
        margin: 20px 0 !important;
    }
}