@import "./parts/colors";

.change-password{
    &__title{
        padding-top: 80px;
    }
    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-height: 35vh;
        & div{
            width: 100%;
            display: grid;
            place-items: center;
        }
        & input{
            width: 60%;
            padding: 5px 10px;
            border: 2px transparent $c8;
            border-radius: 8px;
            outline: none;
            transition: border .3s ease;
            &:focus{
                border: 2px solid $c8;
            }
        }
    }

}