@import "./parts/fonts", "./parts/colors";

*{
    transition: all .3s ease;
}

html, body{
    overflow-x: hidden;
}

a{
    text-decoration: none !important;
}

dl, ol, ul{
    margin-bottom: 0 !important;
    padding: 0;
    list-style: none;
}

p{
    margin: 0 !important;
}

// Основной контейнер
.container__custom{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container__custom__sidebar{
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container__small{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container__extra__small{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

// Логотип
.logo{
    width: 50px;
    height: 80px;
    @media(max-width: 576px){
        width: 40px;
        height: 65px;
    }
    &__wrap{
        width: 12%;
        @media (max-width: 1600px) {
            width: 15%;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text{
        font-size: 24px;
        color: $c19;
        text-transform: uppercase;
        & .text-wrapper{
            position: relative;
            display: inline-block;
            padding-top: 0.1em;
            padding-right: 0.05em;
            padding-bottom: 0.15em;
        }
        & .line{
            opacity: 0;
            position: absolute;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #fff;
            transform-origin: 100% 100%;
            bottom: 0;
        }
        & .letter{
            display: inline-block;
            line-height: 1em;
        }
    }
}

.modal{
    top: 20%;
}

// Для исправления прыгающей модалки

body.modal-open {
    padding-right: 0 !important;
}

.ratio-1-1 {
    width: 100% !important;
}
.ratio-1-2 {
    width: 50% !important;
}
.ratio-1-3 {
    width: 33.33% !important;
}
.ratio-1-4 {
    width: 25% !important;
}

.divider{
    margin-top: 96px;
    background-image: url("/static/assets/artmagic-background-header.jpg");
    width: 100%;
    height: 50px;
}
