.return-agoods{
    margin: 0 0 40px 0;
    font-size: 1.2rem;
    min-height: 56vh;
    &__title{
        text-align: center;
        margin: 20px 0;
    }
    &__subtitle{
        margin: 15px 0;
    }
    &__list{
        padding-left: 20px;
        list-style: inside;
    }
}

