.safeguards {
  margin: 0 0 40px 0;
  font-size: 1.2rem;
}
.safeguards__title {
  text-align: center;
  margin: 20px 0;
}
.safeguards__subtitle {
  margin: 15px 0;
}
.safeguards__list {
  padding-left: 20px;
  list-style: none;
}
.safeguards__list__item {
  margin: 10px 0;
}