@import "./products-catalog";
// Основний контент catalog.html
.main-catalog{
    margin: 0;
    padding-top: 20px;
    grid-area: catalog;
    min-height: 140vh;
    border-left: 1px solid $c5;
    border-top: 1px solid $c5;
    &__wrap{
        overflow-y: hidden;
        overflow-x: hidden;
        flex-grow: 1;
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 11fr;
        grid-template-rows: 60px 20px calc(100% - 40px);
        grid-template-areas: 
        "title title"
        ". ."
        "aside catalog";
    }
    &__title{
        grid-area: title;
        margin-top: 10px;
        padding-bottom: 70px;
    }
}



.swiper-pagination-bullet{
    background-color: $c4;
}

.swiper-pagination-bullet-active{
    background: #007aff;
}