@import "./products-catalog";
@import "../../breakpoints/variables",
        "../../breakpoints/response-fn";


// Основний контент catalog.html
.main-catalog{
    margin: 0;
    padding-top: 20px;
    grid-area: catalog;
    height: inherit;
    border-left: 1px solid $c5;
    border-top: 1px solid $c5;
    @include respond-to(tablet-large){
        border-left: none;
    }
    &__wrap{
        overflow-y: hidden;
        overflow-x: hidden;
        flex-grow: 1;
        display: grid;
        grid-template-columns: minmax(350px, 1fr) 10fr;
        // grid-template-rows: 60px 20px minmax(300px, 2fr);
        grid-template-areas: 
        "title title"
        ". ."
        "aside catalog";
        margin: 0 auto 40px auto ;
        @include respond-to(tablet-large){
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    &__title{
        &-wrap{
            grid-area: title;
            margin-top: 10px;
            padding-bottom: 40px;
            @include respond-to(tablet-large){
                padding-bottom: 0;
            }
        }
        
    }
    &__btn{
        width: 100px;
        padding: 6px;
        margin: 10px 0;
        font-weight: 500;
        color: $c6;
        display: none;
        @include respond-to(tablet-large){
            display: flex;
            justify-content: space-between;
        }
        &-icon{
            width: 20px;
            height: 20px;
            color: $c6;
        }
    }
    &__carousel{
        width: 87vw;
        @include respond-to(tablet-large){
            width: 100vw;
        }
    }
}

#productsCatalogContainer{
    width: 95vw !important;
}

.swiper-pagination-bullet{
    background-color: $c4;
}

.swiper-pagination-bullet-active{
    background: #007aff;
}