{% extends 'products/base.html' %}
{% load static %}
{% load mptt_tags %}



{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

        {% block content %}
        <div class="main-catalog__wrap container__custom">
            <h1 data-aos="fade-right" class="main-catalog__title">{{ parent_category.name }}</h1>
                <main data-aos="fade-left" data-aos-delay="200" class="main-catalog">
                    <div class="swiper main-catalog__carousel">
                        <div class="swiper-wrapper" id="productsCatalogContainer">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </main>
            <aside data-aos="fade-right" data-aos-delay="100" class="aside-catalog__wrap">
                <section class="aside">
                    <div class="aside-catalog__content">
                        {% for group_filter in group_filters %}
                            <h5 class="aside-main__title">{{ group_filter.name }}</h5>
                            <ul class="aside-main__list">
                              {% for filter in  filters %}
                                {% if filter.filter_group_id == group_filter %}
                                  <li class="aside-main__item">
                                      <input id="filter.name" type="checkbox" />
                                      <label for="filter.name">{{ filter.name }}</label>
                                  </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            <hr size="1px" color="#ddd" width="90%" style="margin: 10px auto;">
                      {% endfor %}
                            <div class="aside-catalog__search">
                                <input placeholder="Пошук" type="search">
                                <svg class="header-search__input__icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                                </svg>
                            </div>
                    </div>         
                </section>
            </aside>
        </div>
        {% endblock %}
        {% block js %}
            <script type="module" src="{% static 'js/catalog.js' %}"
            <script type="module" src="{% static 'js/catalog-carousel.js' %}"></script>
        {% endblock %}
            