{% extends 'products/base.html' %}
{% load static %}
{% load mptt_tags %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/category.css' %}">
    {% endblock %}
        {% block head %}
            <title>{{parent_category}} — купити в Дніпрі | інтернет-магазині Артмагія</title>
            <meta name="description" content="Купити {{parent_category}} в ⭐️ Артмагії ⭐️ — художні матеріали для студентів і митців ✔️ Доставка по Україні. ✔️ Широкий асортимент ✆ 0661494273">

            <meta property="og:title" content="{{parent_category}} — купити в Дніпрі | інтернет-магазині Артмагія">
            <meta property="og:description" content="Купити {{parent_category}} в ⭐️ Артмагії ⭐️ — художні матеріали для студентів і митців ✔️ Доставка по Україні. ✔️ Широкий асортимент ✆ 0661494273">
            
            {% if parent_category.image %}
                <meta property="og:image" content="https://artmagic.com.ua/media/{{parent_category.image}}">
            {% else %}
                <meta property="og:image" content="https://artmagic.com.ua/static/product-placeholder.png">
            {% endif %}
        {% endblock %}
        {% block content %}
        <div class="main-category__wrap container__custom">
            <main class="main-category">                               
                <section data-aos="fade-down" class="category-others">
                    <div class="category-others">
                        <ul class="category-others__list">
                            {% for sub_category in sub_categories %}
                            <li class="category-others__item">
                                <a class="category-others__link" href="{% url 'sub_product' slug=sub_category.slug %}">
                                    <div class="category-others__img__wrap">
                                        {% if sub_category.image %}
                                        <img class="category-others__img" src="{{ sub_category.image.url }}" alt="{{ sub_category.name }}">
                                        {% else %}
                                        <!-- Если изображение отсутствует, вы можете добавить здесь замену или оставить пустым -->
                                        <img class="category-others__img" src="{% static 'product-placeholder.png' %}" alt="No Image">
                                        {% endif %}
                                    </div>
                                    <span class="category-others__link__text">{{ sub_category.name }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                <section class="products-category">
                    <div class="divider"></div>
                    <div class="swiper products-category__carousel">
                        <div class="swiper-wrapper" id="productsCategoryContainer">
                            <!-- {% for product_group in products_by_sub_category %}
                                <div class="swiper-slide">
                                    <div class="products-category__list" data-aos="fade-down" data-aos-delay="300">
                                        {% for product in product_group %}
                                            <div class="products-category__item product-item" id="{{ product.pk }}">
                                                <div class="products-category__item__img__wrap">
                                                    {% if product.image %}
                                                        <img class="products-category__item__img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                                    {% else %}
                                                        <img class="products-category__item__img" src="{% static 'placeholder_image.jpg' %}" alt="No Image">
                                                    {% endif %}
                                                </div>
                                                <p class="products-category__item__title">{{ product.name }}</p>
                                                <span class="products-category__item__price">{{ product.price }} грн</span>
                                                <button class="btn btn-primary products-category__item__btn" data-item="product_btn">Купити</button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>  
                            {% endfor %} -->
                        </div>
                        <div class="pagination pagination-category"></div>
                    </div>
                    <div class="category-others">
                        {% if parent_category.description %}
                            <div class="card">
                            <h5 class="card-header">
                                Опис категорії
                            </h5>
                            <div class="card-body">
                                <p class="card-text">{{ parent_category.description|striptags }}</p>
                            </div>
                            </div>
                        {% endif %}
                    </div>
                </section>
        
            </main>
        </div>
        </div>

      {% endblock %}
      {% block js %}
        <script src="{% static 'js/category/category.js' %}"></script>
        <script type="module" src="{% static 'js/category/category-carousel.js' %}"></script>
        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "BreadcrumbList",
              "itemListElement": [
                {
                  "@type": "ListItem",
                  "position": 1,
                  "name": "Головна",
                  "item": "https://artmagic.com.ua"
                },
                {
                  "@type": "ListItem",
                  "position": 2,
                  "name": "{{ breadcrumbs.1.name }}",
                  "item": "https://artmagic.com.ua{{ breadcrumbs.1.url }}"
                }
              ]
            }
        </script>
      {% endblock %}