{% extends 'products/base.html' %}
{% load static %}
{% load mptt_tags %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/category.css' %}">
    {% endblock %}

        {% block content %}
        <div class="main-category__wrap container__custom">
            <main class="main-category">                               
                <section data-aos="fade-down" class="category-others">
                    <div class="category-others">
                        <ul class="category-others__list">
                            {% for sub_category in sub_categories %}
                            <li class="category-others__item">
                                <a class="category-others__link" href="{% url 'sub_product' slug=sub_category.slug %}">
                                    <div class="category-others__img__wrap">
                                        {% if sub_category.image %}
                                        <img class="category-others__img" src="{{ sub_category.image.url }}" alt="{{ sub_category.name }}">
                                        {% else %}
                                        <!-- Если изображение отсутствует, вы можете добавить здесь замену или оставить пустым -->
                                        <img class="category-others__img" src="{% static 'placeholder_image.jpg' %}" alt="No Image">
                                        {% endif %}
                                    </div>
                                    <span class="category-others__link__text">{{ sub_category.name }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                <section class="products-category">
                    <div class="divider"></div>
                    <div class="swiper products-category__carousel">
                        <div class="swiper-wrapper" id="productsCategoryContainer">
                            <!-- {% for product_group in products_by_sub_category %}
                                <div class="swiper-slide">
                                    <div class="products-category__list" data-aos="fade-down" data-aos-delay="300">
                                        {% for product in product_group %}
                                            <div class="products-category__item product-item" id="{{ product.pk }}">
                                                <div class="products-category__item__img__wrap">
                                                    {% if product.image %}
                                                        <img class="products-category__item__img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                                    {% else %}
                                                        <img class="products-category__item__img" src="{% static 'placeholder_image.jpg' %}" alt="No Image">
                                                    {% endif %}
                                                </div>
                                                <p class="products-category__item__title">{{ product.name }}</p>
                                                <span class="products-category__item__price">{{ product.price }} грн</span>
                                                <button class="btn btn-primary products-category__item__btn" data-item="product_btn">Купити</button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>  
                            {% endfor %} -->
                        </div>
                        <div class="pagination pagination-category"></div>
                    </div>
                </section>
        
            </main>
        </div>
        </div>

      {% endblock %}
      {% block js %}
        <script src="{% static 'js/category/category.js' %}"></script>
        <script type="module" src="{% static 'js/category/category-carousel.js' %}"></script>
      {% endblock %}