{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'django_ckeditor_5/dist/styles.css' %}">
{% endblock %}
{% block head %}
    <title>{{product.name}} — купити в Україні | інтернет-магазині Артмагія</title>
    <meta name="description" content="Купити {{product.name}} в Дніпрі. 🚛 Доставка по Україні ⭐️ Артмагія — художні матеріали ✔️ Асортимент для художників та дизайнерів  ✆ 0661494273">

    <meta property="og:title" content="{{product.name}} — купити в Дніпрі | інтернет-магазині Артмагія">
    <meta property="og:description" content="Купити {{product.name}} в ⭐️ Артмагії ⭐️ — художні матеріали для студентів і митців ✔️ Доставка по Україні. ✔️ Широкий асортимент ✆ 0661494273">
    
    {% if product.image %}
        <meta property="og:image" content="https://artmagic.com.ua/media/{{product.image}}">
    {% else %}
        <meta property="og:image" content="https://artmagic.com.ua/static/product-placeholder.png">
    {% endif %}
{% endblock %}
{% block content %}
<div class="main__wrap" >
    <main class="main container__small">
        <div class="product-page" >
            <div class="product-image__content" data-aos="fade-down-right">
                {% if product.quantity > 0 %}
                    <div class="product-details__status bg23">
                        В наявності
                    </div>
                {% elif product.quantity <= 0 %}
                    <div class="product-details__status bg21">
                        На замовлення
                    </div>
                {% endif %}
                <div class="product-image__wrap">
                {% if all_images|length != 0 %}
                    <img class="products-detaile__item__img"  src="{{ all_images.0  }}">
                {% else %}
                    <!-- <img class="products-detaile__item__img"  src="{% static 'product-placeholder.png' %}" alt=""> -->
                    <img class="products-detaile__item__img"  src="{% static 'product-placeholder.png' %}" alt="">
                {% endif %}
                </div>
                <div #description>
                    
                    {% for image_url  in all_images %}
                        <img class="product-thumbnails" src="{{image_url}}" >
                    {% endfor %}
                </div>
            </div>
            
            
            <div class="product-details" data-aos-delay="100" data-aos="fade-left">
                
                <div class="product-details__buttons">
                    <h1 class="product-title">{{ product.name }}</h1>
                    <button class="product-details__btn__add-to-cart" id="{{product.pk}}">Додати до кошика</button>
                </div>
                <p class="product-details__articul c8">Артикул: {{product.model}}</p>
                <div class="product-details__info">
                    <p class="product-details__price">Ціна: <span class="fw-bold">{{product.price}} грн</span> </p>
                    <p class="text-center">Характеристика товару</p>
                    <table class="product-detailes__atributes">
                        {% for el in attributes %}
                            <tr>
                                <th class="atributes-row">{{ el.name }}</th>
                                <td class="atributes-row atributes-row__value">
                                    {% for value in el.text %}
                                        {{ value }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>  
            </div>
        </div>
        <div class="product-specs" data-aos-delay="200" data-aos-anchor="description" data-aos="fade-up">
            <p class="fw-medium fs-4 mb-3">Опис товару:</p>
            {% if product.description %}
                <p class="product-description">{{ product.description|safe }}</p>
            {% else %}
                <p class="product-description"></p>
            {% endif %}

        </div>
        <!-- Модалка для увеличенного изображения -->
        <div id="productImageModal" class="product-modal">
            <span class="product-modal__close">&times;</span>
            <img class="product-modal__content" id="productModalImage">
        </div>
    </main>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/detaile/detaile.js' %}"></script>
    <script type="module" src="{% static 'js/detaile/detaile-btn.js' %}"></script>
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
            "@type": "ListItem",
            "position": 1,
            "name": "Головна",
            "item": "https://artmagic.com.ua"
            },
            {
            "@type": "ListItem",
            "position": 2,
            "name": "{{ breadcrumbs.1.name }}",
            "item": "https://artmagic.com.ua{{ breadcrumbs.1.url }}"
            },
            {
            "@type": "ListItem",
            "position": 3,
            "name": "{{ breadcrumbs.2.name }}",
            "item": "https://artmagic.com.ua{{ breadcrumbs.2.url }}"
            },
            {
            "@type": "ListItem",
            "position": 4,
            "name": "{{ product.name }}",
            "item": "https://artmagic.com.ua{{ full_url }}"
            }
        ]
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "{{ product.name }}",
            "image": "{{ image_address}}",
            "description": "{{ description|striptags|slice:':200' }}",
            "brand": "{{ brand_name }}",
            "offers": {
                "@type": "Offer",
                "url": "https://artmagic.com.ua{{ full_url }}",
                "priceCurrency": "UAH",
                "price": "{{ product.price|stringformat:'.2f' }}",
                "availability": "{{ prod_quantity }}"
                }
        }
    </script>
    
{% endblock %}