{% extends "./base.html" %}
{% load static %}
{% load mptt_tags %}
{% block head %}
  {% if request.path == '/product/search/' %}
      <title>Артмагія — Результати пошуку: "{{searchquery}}" </title>
      <meta name="description" content="Купити {{searchquery}} в ⭐️ Артмагії ⭐️ — художні матеріали для студентів і митців ✔️ Доставка по Україні. ✔️ Широкий асортимент ✆ 0661494273">
      
      <meta property="og:title" content="{{searchquery}} — купити в Дніпрі | інтернет-магазині Артмагія">
      <meta property="og:description" content="Купити {{searchquery}} в ⭐️ Артмагії ⭐️ — художні матеріали для студентів і митців ✔️ Доставка по Україні. ✔️ Широкий асортимент ✆ 0661494273">
  {% else %}
      <title>{{parent_category}} — купити в Дніпрі | інтернет-магазині Артмагія</title>
      <meta name="description" content="Купити {{parent_category}} в ⭐️ Артмагії ⭐️ — художні матеріали для студентів і митців ✔️ Доставка по Україні. ✔️ Широкий асортимент ✆ 0661494273">
      
      <meta property="og:title" content="{{parent_category}} — купити в Дніпрі | інтернет-магазині Артмагія">
      <meta property="og:description" content="Купити {{parent_category}} в ⭐️ Артмагії ⭐️ — художні матеріали для студентів і митців ✔️ Доставка по Україні. ✔️ Широкий асортимент ✆ 0661494273">
  {% endif %}    
  
  {% if parent_category.image %}
      <meta property="og:image" content="https://artmagic.com.ua/media/{{parent_category.image}}">
  {% else %}
      <meta property="og:image" content="https://artmagic.com.ua/static/product-placeholder.png">
  {% endif %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
  <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
  <style>
    .contacts-page{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .contact-method {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        @media (max-width: 450px) {
          width: 100%;
        }
    }
    .contact-options {
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .contact-option {
        margin-bottom: 10px; /* Отступ между пунктами */
    }
    .contact-option a {
        display: inline-block;
        padding: 8px 16px;
        background-color: #0d6efd;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }
    .contact-option a:hover {
        background-color: #0d6efd;
    }
    .contacts-page-content{
      flex: 1;
      min-height: 57.5vh;
    }

</style>
{% endblock %}
{% block content %}
<main class="contacts-page-content">
  <div class="container__extra__small">
    <div class="contacts-page">
          <h3 class="contacts-page__title">Не знайшли потрібний товар?</h3>
          <p class="text-center">Наші спеціалісти готові допомогти Вам знайти потрібне!<br>Залиште свої контактні дані, і ми з Вами зв'яжемось!</p>
          
          <h5 class="text-center">Обрати зручний спосіб зв’язку:</h5>
          <div class="contact-method">
            <div class="contact-options">
                <div class="contact-option">
                  <button class="header-call__btn" type="button" data-bs-toggle="modal" data-bs-target="#call__modal">
                      <a class="c6">Передзвоніть</a>
                  </button>                    
                </div>
                <div class="contact-option">
                  <a href="viber://chat?number=+380680174075">Viber</a>
                </div>
            </div>
        </div>  
      </div>     
    </div>      
  </main>  


{% endblock %}
{% block js %}
<script src="{% static 'js/index/index.js' %}"></script>
<script type="module" src="{% static 'js/index/index-carousel.js' %}"></script>
{% if request.path == '/product/search/' %}
  <script type="application/ld+json">
      {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
          {
          "@type": "ListItem",
          "position": 1,
          "name": "Головна",
          "item": "https://artmagic.com.ua"
          },
          {
          "@type": "ListItem",
          "position": 2,
          "name": "Пошук",
          "item": "https://artmagic.com.ua/product/search/"
          }
      ]
      }
  </script>
{% else %}
  <script type="application/ld+json">
      {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
          {
          "@type": "ListItem",
          "position": 1,
          "name": "Головна",
          "item": "https://artmagic.com.ua"
          },
          {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ breadcrumbs.1.name }}",
          "item": "https://artmagic.com.ua{{ breadcrumbs.1.url }}"
          },
          {
          "@type": "ListItem",
          "position": 3,
          "name": "{{ breadcrumbs.2.name }}",
          "item": "https://artmagic.com.ua{{ breadcrumbs.2.url }}"
          }
      ]
      }
  </script>
{% endif %}
{% endblock %}
    
    