.mobile-menu{
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    transition: height 1s ease;
    z-index: -1;
    &.show{
        z-index: 1010;
        height: 100%;
        overflow: hidden;
    }
    &__container{
        width: 100%;
        padding: 15px;
    }
    &__list{
        opacity: 0;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: opacity 1.3s ease;
        height: 50vh;
        margin: 40px 0;
        &.show{
            // margin: 40px 0;
            opacity: 1;
        }
    }
    &__item{
        margin: 15px 0;
        transition: translate 1.5s ease;
        color: $c8;
        &.show{
            transform: translateY(-100px);
        }
    }
    &__link{
        color: $c9;
    }
    &__icon-close{
        width: 30px;
        height: 30px;
        visibility: hidden;
        &.show{
            visibility: visible;
        }
        &__wrap{
            display: flex;
            justify-content: flex-end;
        }
    }
}